h1 {
  background: url("public/cyber-security-expert-working-with-technology-neon-lights.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h2{
  text-shadow: 0px 0px 10px red;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  /* duration-500 */
  filter: grayscale(100%);
}

.image:hover {
  filter: grayscale(0%);
}

.bbh-sans-bogle-regular {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bbh-sans-bartle-regular {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bbh-sans-bogle-regular {
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}